# --- Flutter/Dart ---
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.analytics
build/
coverage/

# --- Secrets ---
.env

# --- Windows (Visual Studio) ---
.vs/
windows/flutter/ephemeral/
*.user
*.userosscache
*.sln.docstates
*.suo

# --- IDEs (VS Code & IntelliJ) ---
.vscode/
.idea/
*.iml
*.ipr
*.iws
.history

# --- OS Specific ---
.DS_Store
Thumbs.db
*.swp
*.log

# --- Miscellaneous ---
*.class
.atom/
.build/
.buildlog/
.svn/
migrate_working_dir/
app.*.symbols
app.*.map.json
